* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375c;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    /* dòng trên để cho khi thu nhỏ trang web thì không bị xuất hiện thanh cuộn ngang */
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 60px;

    display: inline-block;
    min-width: 205px;
    border-radius: 30px;
    border: 1px solid #2e80ce;
    background: #2e80ce;
    color: #fff;
    height: var(--height);
    line-height: var(--height);
    padding: 0 15px;
    font-weight: 400;
    text-align: center;
    font-size: 1.8rem;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.heading {
    font-weight: 600;
    line-height: 1.14;
}

.desc {
    color: #c9d2da;
    font-weight: 300;
    line-height: 1.66;
    font-size: 1.8rem;
}

.section-heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.section-desc {
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
}

/* Header */
.header {
    min-height: 100vh;
    /* để min để khi nội dung tăng lên thì nó tự động thay đổi cho phù hợp */
    background: var(--header-bg);
    padding-top: 30px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */

.logo {
    font-size: 1rem;
    /* 1rem tương ứng với 10px, đặt vầy để xíu dùng cái em để tăng giảm kích thước logo dễ hơn*/
    position: relative;
    display: inline-flex;
    /* logo đang để thẻ div nên độ rộng của nó bằng cái trang, để lại để độ rộng của nó bằng nội dung thôi */
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    border-radius: 50%;
    display: inline-block;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    width: 1.6em;
    height: 1.6em;
    background: #ffffff;
    position: absolute;
    top: 1.1em;
    left: 1.1em;
}

.logo__text {
    margin-left: 0.6em;
    color: #fff;
    text-align: right;
    line-height: 1.6em;
}

.logo__brand {
    display: block;
    /* block để cho hai chữ nó nằm trên 2 hàng */
    font-size: 1.8em;
    font-weight: 400;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

/* Navbar */

.navbar__list {
    display: flex;
}

.header-action__login,
.navbar__link {
    padding: 4px 21px;
    /* padding trên dưới để tăng khoảng cách bấm */
    font-size: 1.6rem;
    font-weight: 300;
    color: #c9d2da;
}

.navbar__link:hover,
.navbar__link--active {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    position: relative;
    top: -2px;
    left: -8px;
}

/* Action */
.header-action {
    display: flex;
    align-items: center;
}
/* vì tính chất của hai thẻ của hai nút sign in/out nên nó bị dư ra 1 khoảng trắng, nên ta phải chỉnh lại thẻ cha là display:flex */

.header-action__sign-up {
    --height: 44px;
    min-width: 104px;
    font-size: 1.6rem;
    margin-left: 7px;
}

/* Hero */

.hero {
    margin-top: 76px;
}

.hero__body {
    display: flex;
    align-items: center;
}

/* Hero left */

.hero__left {
    width: 44%;
}

.hero__heading {
    color: #fff;
    font-size: 7rem;
    margin-bottom: 22px;
}

.hero__desc {
    font-size: 1.8rem;
    margin-bottom: 38px;
    width: 468px;
}

.hero__contact {
    display: flex;
    gap: 38px;
    align-items: center;
}

.hero__contact--desc {
    color: #fff;
    font-weight: 400;
}

/* Hero right */
.hero__right {
    flex-grow: 1;
    margin-left: 113px;
    justify-content: flex-end;
}

.hero__images {
    display: flex;
    align-items: center;
}

.hero__right--big {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
    margin-right: -6px;
    position: relative;
}

.hero__right--small {
    width: 210px;
    height: 410px;
    border-radius: 0px 6px 6px 0px;
    object-fit: cover;
}

/* Service */
.service {
    padding: 170px 0;
    min-height: 100vh;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    width: 468px;
    margin-left: auto;
    margin-right: auto;
}

.service__info {
    display: flex;
    margin-top: 70px;
    align-items: center;
}

.service__info--image {
    width: 48%;
}

.service__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.service__all-service {
    flex-grow: 1;
    justify-content: flex-end;
    margin-left: 130px;
}

.service-item {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background: #fff;
    width: 470px;
    padding: 22px;
    transition: 0.25s;
}

.service-item:hover {
    position: relative;
    /* khi không có position: relative thì di chuột vào các bóng đổ của nó không đè lên được mấy thắng khác nên phải thêm vào */
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item__heading {
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
}

.service-item__desc {
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    width: 351px;
}

.section-btn {
    margin-top: 55px;
}

/* How it works */

.works {
    background: #f6fbff;
    min-height: 100vh;
    padding: 100px 0;
}

.works-desc {
    width: 468px;
    margin-top: 18px;
}

.works__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 86px;
}

.works-item {
    border-radius: 4px;
    background: #fff;
    align-items: center;
    border: 16px solid #eaf6ff;
    padding: 43px 42px;
    transition: 0.25s;
}

.works-item:hover {
    border: 16px solid #2e80ce;
    transform: translateY(-16px);
    /* cái ở trên để khi hover vào thì nó nhảy lên 1 xí, X là ngang Y là dọc */
}

.works-item__heading {
    color: #10375c;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.3;
    margin-top: 18px;
    margin-bottom: 28px;
}

.works-item__learn,
.works-item__desc {
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.works-item__desc {
    margin-bottom: 18px;
}

.works-item__learn {
    margin-bottom: 43px;
    color: #2e80ce;
}

/* Featured */
.featured {
    margin-top: 85px;
    padding: 85px 0;
}

.featured__item {
    display: flex;
    align-items: center;
}

.featured__image {
    width: 48%;
    display: flex;
    position: relative;
    padding: 0 58px 121px 0;
}

.featured__image-big {
    width: 512px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
}

.featured__image-small {
    width: 332px;
    height: 370px;
    object-fit: cover;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 6px;
}

.featured__info {
    margin-left: 130px;
}

.featured__info-heading {
    margin-bottom: 18px;
}

.featured__info-desc {
    margin-bottom: 38px;
}

/* Member */

.member {
    padding: 85px 0;
    text-align: center;
}

.member__heading {
    margin-bottom: 38px;
}

.member__head {
    text-align: center;
}

.member__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}

.member-item__img-bg {
    padding-top: 28px;
    background: #eaf6ff;
    border-radius: 6px;
    overflow: hidden;
}

.member-item:hover .member-item__thumb {
    transform: scale(1.1);
}

.member-item__thumb {
    max-width: 100%;
    height: 280px;
    object-fit: cover;
    display: block;
    /* thêm display block để nó không bị dư ra 1 khoảng xanh */
    transition: 0.25s;
}

.member__item-name {
    color: #10375c;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    margin-top: 12px;
}

.member__item-desc {
    color: #575f66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.85;
}

.member__control {
    display: flex;
    justify-content: center;
    margin-top: 38px;
    gap: 18px;
}

.member__control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575f66;
    color: #575f66;
    outline: none;
    background: #fff;
    transition: 0.25s;
}

.member__control-btn:hover {
    background: #2e80ce;
    border-color: #2e80ce;
    color: #fff;
    cursor: pointer;
}

.member__control-next {
    rotate: 180deg;
}
