* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375c;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    /* dòng trên để cho khi thu nhỏ trang web thì không bị xuất hiện thanh cuộn ngang */
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 60px;

    display: inline-block;
    min-width: 205px;
    border-radius: 30px;
    border: 1px solid #2e80ce;
    background: #2e80ce;
    color: #fff;
    height: var(--height);
    line-height: var(--height);
    padding: 0 15px;
    font-weight: 400;
    text-align: center;
    font-size: 1.8rem;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* Header */
.header {
    min-height: 100vh;
    /* để min để khi nội dung tăng lên thì nó tự động thay đổi cho phù hợp */
    background: var(--header-bg);
    padding-top: 30px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */

.logo {
    font-size: 1rem;
    /* 1rem tương ứng với 10px, đặt vầy để xíu dùng cái em để tăng giảm kích thước logo dễ hơn*/
    position: relative;
    display: inline-flex;
    /* logo đang để thẻ div nên độ rộng của nó bằng cái trang, để lại để độ rộng của nó bằng nội dung thôi */
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    border-radius: 50%;
    display: inline-block;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    width: 1.6em;
    height: 1.6em;
    background: #ffffff;
    position: absolute;
    top: 1.1em;
    left: 1.1em;
}

.logo__text {
    margin-left: 0.6em;
    color: #fff;
    text-align: right;
    line-height: 1.6em;
}

.logo__brand {
    display: block;
    /* block để cho hai chữ nó nằm trên 2 hàng */
    font-size: 1.8em;
    font-weight: 400;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

/* Navbar */

.navbar__list {
    display: flex;
}

.action__login,
.navbar__link {
    padding: 4px 21px;
    /* padding trên dưới để tăng khoảng cách bấm */
    font-size: 1.6rem;
    font-weight: 300;
    color: #c9d2da;
}

.navbar__link:hover,
.navbar__link--active {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    position: relative;
    top: -2px;
    left: -8px;
}

/* Action */
.action__signup {
    --height: 44px;
    min-width: 104px;
    font-size: 1.6rem;
}
